<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <app-sidenav-list (closeSideNav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content *ngIf="!isLoadingResults; else whileLoading">
    <app-toolbar [title]="'HOME.PELICULAS' | translate" [isMain]="true" (SideNavToggle)="sidenav.toggle()"></app-toolbar>

    <div class="div-card" *ngFor="let movie of movies">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            <a mat-list-item [routerLink]="'/movies/view/' + movie.id">
              {{movie.title}}
            </a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <img mat-card-image [src]="movie.poster" [alt]="movie.title">
          </div>
        </mat-card-content>
        <mat-card-footer class="card-footer">
          <span class="mr-3" *ngFor="let genre of movie.genre">#{{genre | translate}}</span>
        </mat-card-footer>
      </mat-card>
    </div>

    <div class="pt-3 text-right">
      <button mat-fab class="btn-add" color="primary" [routerLink]="['/movies/new']" attr.aria-label="{{ 'NUEVA_PELICULA.GUARDAR' | translate }}">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #whileLoading>
  <div class="spinner">
    <div class="spiner-content">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-template>
