.div-card {
  display: flex;
  justify-content: center;
}

.card {
  max-width: 400px;
  &-footer {
    margin-top: -32px;
  }
}

.btn-add {
  border: none;
  background: #3f51b5;
  padding: 16px;
  color: white;
  border-radius: 50%;
  &--red {
    background-color: red;
  }
}

:host::ng-deep {
  .mat-card-image {
    padding: 16px;
    min-width: 400px;
  }
}
