.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sidenav {
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.full-width {
  width: 100%;
}

:host::ng-deep {
  .mat-drawer-container {
    min-height: 92vh;
  }
}
