<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <app-sidenav-list (closeSideNav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar [title]="'HOME.PELICULAS' | translate" [isMain]="false" (SideNavToggle)="sidenav.toggle()"></app-toolbar>

    <mat-card class="example-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </div>

        <div class="row">
          <div class="col-6">
            <h2>{{ 'NUEVA_PELICULA.PUNTUACION' | translate }}</h2>
            <p>8</p>
          </div>
          <div class="col-6 text-right">
            <h2>{{ 'NUEVA_PELICULA.DURACION' | translate }}</h2>
            <p>8</p>
          </div>
        </div>

        <h2>{{ 'NUEVA_PELICULA.ACTORES' | translate }}</h2>
        <mat-divider></mat-divider>
        <p>Leonado</p>

        <h2>{{ 'NUEVA_PELICULA.ESTUDIO' | translate }}</h2>
        <mat-divider></mat-divider>
        <p>Fox</p>

        <h2>{{ 'NUEVA_PELICULA.GENEROS' | translate }}</h2>
        <mat-divider></mat-divider>
        <p>drama</p>

      </mat-card-content>
      <!-- <mat-card-footer class="mat-footer">
        <span>botones</span>
      </mat-card-footer> -->
      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
    </mat-card>

    <!-- <div class="row"> -->
      <div class="col-12 pt-3 text-right">
        <button mat-fab class="btn-add mr-3" color="primary" [routerLink]="['/movies/edit']" aria-label="Editar película">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-fab class="btn-add" color="primary" aria-label="Borrar película">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    <!-- </div> -->

  </mat-sidenav-content>
</mat-sidenav-container>
