<mat-sidenav-container *ngIf="!isLoadingResults && actorsFinished && compayFinished; else whileLoading">

  <mat-sidenav #sidenav>
    <app-sidenav-list (closeSideNav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar [title]="'HOME.PELICULAS' | translate" [isMain]="false" (SideNavToggle)="sidenav.toggle()"></app-toolbar>

    <div class="div-card">
      <mat-card class="card">
        <mat-card-content>
          <div>
            <img mat-card-image [src]="movie.poster" [alt]="movie.title">
          </div>

          <div class="row">
            <div class="col-6">
              <h2>{{ 'NUEVA_PELICULA.PUNTUACION' | translate }}</h2>
              <p>{{movie.imdbRating}}</p>
            </div>
            <div class="col-6 text-right">
              <h2>{{ 'NUEVA_PELICULA.DURACION' | translate }}</h2>
              <p>{{math.floor(movie.duration / 60)}}h {{movie.duration % 60}}m</p>
            </div>
          </div>

          <h2>{{ 'NUEVA_PELICULA.ACTORES' | translate }}</h2>
          <mat-divider></mat-divider>
          <p *ngFor="let actor of actors">{{actor.first_name}} {{actor.last_name}}</p>

          <h2>{{ 'NUEVA_PELICULA.ESTUDIO' | translate }}</h2>
          <mat-divider></mat-divider>
          <p>{{company?.name}}</p>

          <h2>{{ 'NUEVA_PELICULA.GENEROS' | translate }}</h2>
          <mat-divider></mat-divider>
          <ng-container *ngFor="let genre of movie.genre">
            <span class="mr-3">#{{genre | translate}}</span>
          </ng-container>

        </mat-card-content>
      </mat-card>
    </div>

    <!-- <div class="row"> -->
      <div class="col-12 pt-3 text-right">
        <button mat-fab class="btn-add mr-3" color="primary" [routerLink]="'/movies/edit/' + movie.id" attr.aria-label="{{ 'NUEVA_PELICULA.EDITAR' | translate }}">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-fab class="btn-add btn-add--red" color="primary" (click)="deleteMovie()" attr.aria-label="{{ 'NUEVA_PELICULA.BORRAR' | translate }}">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    <!-- </div> -->

  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #whileLoading>
  <div class="spinner">
    <div class="spiner-content">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-template>
